.timerBtn {
    background-color: blue;
    border: 3px solid;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: consolas, monospace;
}

#timer {
    font-size: 75px;
    color: red;
    font-family: consolas, monospace;
}

#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: lightgreen;
}